element.style{
background color: white;
}

@media (min-width: 768px)
.masthead-brand {
float: left;
}

.masthead-brand{
margin-top:10px;
marin-bottom:10px;
}
.h3, h3 {
font-size: 24px;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover, .masthead-
nav > .active > a:focus {
color: $fff;
border-bottom-color: #fff;
}

.masthead-nav > li > a {
padding-right: 0;
padding-left: 0;
font-size: 16px;
font-weight: bold;
border-bottom: 2px solid transparent;
}
.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}
